<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/12b188f415.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Reits Service</title>
  </head>

  <body>
    <header class="header">
      <div class="header__header-column">
          <a href="./index.html"><h1 class="header__title">Home</h1></a>
      </div>
      <div class="header__header-column">
        <span class="header__icon">
          <a href="./adduser.html"><i class="fas fa-user-plus"></i></a>
        </span>
        <span class="header__icon">
            <a href="./invest.html"><i class="fas fa-coins"></i></a>
        </span>
        <span class="header__icon">
            <a href="./query.html"><i class="fas fa-search"></i></a>
        </span>
      </div>
    </header>
    
      <h1 class="container">Reits Service</h1>
      <div class="a">
        <img src="./images/1.jpg" class="mainimg" />
      </div>
    </div>
  </body>
</html>
